{% extends 'base_app/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 ">
                <div class="table-responsive ">
                    <table  id="services_table" class="table table-bordered">
                        {% for service in services %}
                            <tr>
                                <td>{{ service.name }}</td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}